<div class="jumbotron animated fadeInLeft">
  <h1 class="display-3">Contacto</h1>
</div>

<div class="row animated fadeInRight delay-1s" style="margin-top: 7%;">
  <div class="col-md-12">
    <div class="card mb-3">
      <h3 class="card-header">Deje su comentario</h3>
        <%= image_tag 'soporte', width: '100%' %>
      <div class="card-body">
        <h4 class="card-text">Si tiene dudas sobre productos y servicios de Paqueteria Express estamos disponibles para escuchar sus comentarios.</h4>

        <%= form_for(:contact, url: contact_index_url, method: :post ) do |f| %>
          <div class="col-md-12 form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control'  %>
          </div>
          <div class="col-md-12 form-group">
            <%= f.label :email %>
            <%= f.text_field :email, class: 'form-control'  %>
          </div>
          <div class="col-md-12 form-group">
            <%= f.label :comment %>
            <%= f.text_field :comment, class: 'form-control'  %>
          </div>
          <div>
            <%= f.submit :enviar , class: 'btn btn-primary' %>
          </div>
        <%- end %>
      </div>
    </div>
  </div>
</div>