<div class="jumbotron animated fadeInLeft">
  <h2>Bienvenido a: </h2>
  <h1 class="display-3">Paqueteria Express</h1>
</div>

<div class="row animated fadeInRight delay-1s" style="margin-top: 7%;">
  <div class="col-md-12">
    <iframe width="100%" height="500" src="https://www.youtube.com/embed/haLQGmm0INM?controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
</div>

<div class="row" style="margin-top: 7%;">
  <div class="col-md-12">
    <div class="card mb-3">
      <h3 class="card-header">Servicios</h3>
      <div class="card-body">
        <h5 class="card-title">En nuestra empresa le ofrecemos los siguientes servicios:</h5>
      </div>
      <%= image_tag 'servicios' %>
      <div class="card-body">
        <p class="card-text">Todos estos servicios están a su disposición en cualquier momento que lo necesite.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Envío</li>
        <li class="list-group-item">Rastreo</li>
        <li class="list-group-item">Facturación</li>
        <li class="list-group-item">Cotización</li>
        <li class="list-group-item">Tiempo en transito </li>
        <li class="list-group-item">Programación de recolección </li>
      </ul>
    </div>
  </div>
</div>
