<div class="jumbotron animated fadeInLeft">
  <h1 class="display-3">Servicios</h1>
</div>

<div class="row animated fadeInRight delay-1s" style="margin-top: 7%;">
  <div class="col-md-12">
    <div class="card mb-3">
      <h3 class="card-header">Servicios</h3>
      <div class="card-body">
        <h4 class="card-text">En nuestra empresa le ofrecemos los siguientes servicios:</h4>
        <%= image_tag 'envio', width: '100%' %>
        <h4>
          <br><br>Todos estos servicios están a su disposición en cualquier momento que lo necesite.<br><br>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Envío</li>
            <li class="list-group-item">Rastreo</li>
            <li class="list-group-item">Facturación</li>
            <li class="list-group-item">Cotización</li>
            <li class="list-group-item">Tiempo en transito </li>
            <li class="list-group-item">Programación de recolección </li>
          </ul>
        </h4>
      </div>
    </div>
  </div>
</div>