<div class="jumbotron animated fadeInLeft">
  <h1 class="display-3">¿Quiénes Somos?</h1>
</div>

<div class="row animated fadeInRight delay-1s" style="margin-top: 7%;">
  <div class="col-md-12">
    <div class="card mb-3">
      <h3 class="card-header">Nosotros</h3>
      <div class="card-body">
        <h4 class="card-text">Somos un pequeño grupo de 8 estudiantes de la Facultad
            de Ingeniería Mecánica y Eléctrica, de la Universidad Autónoma de Nuevo
            León, situados en el municipio de San Nicolás de los Garza.</h4>
        <%= image_tag 'fime', width: '100%' %>
        <h4>
        <br><br>Integrantes de nuestro equipo:<br><br>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">1739409 Luis Adrian Mendoza Ruiz</li>
          <li class="list-group-item">1838217 Oscar Eduardo Estrella Aguirre</li>
          <li class="list-group-item">1684348 Daniel Aaron García Perez</li>
          <li class="list-group-item">1740349 Jahir Ery Salazar Nava</li>
          <li class="list-group-item">1735700 Nicolás Bazán Alvarez</li>
          <li class="list-group-item">1663589 Marco Antonio Guerrero Palomares</li>
          <li class="list-group-item">1620297 José Carlos Gamboa Esparza</li>
        </ul>
         <br><br> La idea surge en base a la asignatura de Interacción Humano-Computadora,
          en donde quisimos crear, en base a algunas problemáticas propuestas por el equipo,
          una solución a algunos de nuestros problemas, como es el transporte de 
          articulos de oficina principalmente entre sucursales de una empresa, la desconfianza
          en algunos de los servicios de mensajeria que existen en nuestra localidad,
          o los precios altos que ofrecen algunos que ofrecen este mismo servicio.
        </h4>
      </div>
    </div>
  </div>
</div>
