<div id="EditEmployee" class="animated fadeIn">

  <h1 class="title">Editar Empleado</h1>

  <%= link_to employees_path do %>
    <%= fa_icon "chevron-left" %>
    <span>Regresar</span>
  <%- end %>

  <div class="col-md-8">
    <%= render 'form', form_model: @employee, form_url: employee_path(@employee.id), form_method: :patch %>
  </div>
</div>
