<div class="animated fadeIn">
  
  <h1 class="title">Listado Empleados</h1>

  <%= link_to admin_home_path do %>
    <%= fa_icon "chevron-left" %>
    <span>Regresar</span>
  <%- end %>
  <%= link_to new_employee_path do %>
    <%= fa_icon "user-plus" %>
    <span>Nuevo Empleado</span>
  <%- end %>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Apellidos</th>
        <th scope="col">Nombres</th>
        <th scope="col">Fecha Nacimiento</th>
        <th scope="col">Tabulación</th>
        <th scope="col">Email</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Residencia</th>
        <th scope="col">Empleado desde</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <% @employees.each do |employee| %>
        <tr>
          <th scope="row"><%= employee.last_name.titleize %></th>
          <td><%= employee.name.titleize %></td>
          <td><%= employee.birth %></td>
          <td><%= employee.pay_rate %></td>
          <td><%= employee.email %></td>
          <td><%= employee.phone %></td>
          <td><%= employee.residence[0..30] %></td>
          <td><%= employee.created_at.to_date %></td>
          <td>
              <%= link_to edit_employee_path(employee.id) do %>
                <%= fa_icon "edit 2x" %>
              <%- end %>
              <%= link_to employee_path(employee.id), method: :delete, data: { confirm: 'Está seguro que desea borrar este elemento?' } do %>
                <%= fa_icon "trash 2x" %>
              <%- end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
