<div id="NewEmployee" class="animated fadeIn">

  <h1 class="title">Nuevo Empleado</h1>

  <%= link_to employees_path do %>
    <%= fa_icon "chevron-left" %>
    <span>Regresar</span>
  <%- end %>

  <div class="col-md-8">
  <%= render 'form', form_model: :employee, form_url: employees_url, form_method: :post %>
  </div>
</div>
