<div class="animated fadeIn">
  
  <h1 class="title">Nómina</h1>

  <%= link_to admin_home_path do %>
    <%= fa_icon "chevron-left" %>
    <span>Regresar</span>
  <%- end %>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Apellidos</th>
        <th scope="col">Nombres</th>
        <th scope="col">Fecha Nacimiento</th>
        <th scope="col">Tabulación</th>
        <th scope="col">Días</th>
        <th scope="col">Pago</th>
      </tr>
    </thead>
    <tbody>
      <% @employees.each do |employee| %>
        <tr>
          <th scope="row"><%= employee.last_name.titleize %></th>
          <td><%= employee.name.titleize %></td>
          <td><%= employee.birth %></td>
          <td><%= employee.pay_rate %></td>
          <td><input type="number" id="nomina_row_<%= employee.id %>" data-tabulation="<%= employee.pay_rate %>" value="30"/></td>
          <td id="nomina_pay_<%= employee.id %>"><%= employee.pay_rate * 30 %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
