<%= form_for(form_model, url: form_url, method: form_method) do |f| %>
  <div class="row">
    <div class="col-md-6 form-group">
      <%= f.label :marca %>
      <%= f.text_field :marca, class: 'form-control'  %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 form-group">
      <%= f.label :modelo %>
      <%= f.text_field :modelo, class: 'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 form-group">
      <%= f.label :max_volumen %>
      <%= f.number_field :max_volumen, class: 'form-control' %>
      <p style="color: green;">cm^3</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 form-group">
      <%= f.label :max_peso %>
      <%= f.number_field :max_peso, class: 'form-control' %>
      <p style="color: green;">kg</p>
    </div>
  </div>
  <div>
      <%= f.submit :guardar, class: 'btn btn-primary' %>
  </div>
<% end %>