<div id="EditVehiculo" class="animated fadeIn">

  <h1 class="title">Editar Vehiculo</h1>

  <%= link_to vehiculos_path do %>
    <%= fa_icon "chevron-left" %>
    <span>Regresar</span>
  <%- end %>

  <div class="col-md-8">
  <%= render 'form', form_model: :vehiculo, form_url: vehiculo_url(@vehiculo.id), form_method: :patch %>
  </div>
</div>
