<div class="animated fadeIn">
  
  <h1 class="title">Listado Vehiculos</h1>

  <%= link_to admin_home_path do %>
    <%= fa_icon "chevron-left" %>
    <span>Regresar</span>
  <%- end %>
  <%= link_to new_vehiculo_path do %>
    <%= fa_icon "user-plus" %>
    <span>Nuevo Vehiculo</span>
  <%- end %>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Marca</th>
        <th scope="col">Modelo</th>
        <th scope="col">Max Volumen (cm^3)</th>
        <th scope="col">Max Peso (Kg) </th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <% @vehiculos.each do |vehiculo| %>
        <tr>
          <td scope="row"><%= vehiculo.marca.titleize %></td>
          <td scope="row"><%= vehiculo.modelo.titleize %></td>
          <td scope="row"><%= vehiculo.max_volumen %></td>
          <td scope="row"><%= vehiculo.max_peso %></td>
          <td>
            <%= link_to edit_vehiculo_path(vehiculo.id) do %>
              <%= fa_icon "edit 2x" %>
            <%- end %>
            <%= link_to vehiculo_path(vehiculo.id), method: :delete, data: { confirm: 'Está seguro que desea borrar este elemento?' } do %>
              <%= fa_icon "trash 2x" %>
            <%- end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
