<div id="NewVehiculo" class="animated fadeIn">

  <h1 class="title">Nuevo Vehiculo</h1>

  <%= link_to vehiculos_path do %>
    <%= fa_icon "chevron-left" %>
    <span>Regresar</span>
  <%- end %>

  <div class="col-md-8">
  <%= render 'form', form_model: :vehiculo, form_url: vehiculos_url, form_method: :post %>
  </div>
</div>
