<%= "Folio,Apellido,Nombre,Nacimiento,Tabulacion,Email,Telefono,Residencia" %>
<%- @empleados.each do |x| %>
  <%= "#{x.id},#{x.last_name},#{x.name},#{x.birth},#{x.pay_rate},#{x.email},#{x.phone},#{x.residence}" %>
<%- end %>