<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card text-white bg-primary mb-3" style="">
        <div class="card-header">
          <h1>Reportes</h1>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-12">

              <div class="d-flex justify-content-center">
                <%= button_to 'Clientes',  reportes_clientes_path(format: 'csv'), method: :get, class: 'btn btn-success m-3' %>
                <%= button_to 'Empleados', reportes_usuarios_path(format: 'csv'), method: :get, class: 'btn btn-success m-3' %>
                <%= button_to 'Usuarios',  reportes_empleados_path(format: 'csv'), method: :get, class: 'btn btn-success m-3' %>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
