<%= form_for(form_model, url: form_url, method: form_method) do |f| %>
<div class="row">
  <div class="col-md-6 form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: 'form-control'  %>
  </div>
  <div class="col-md-6 form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control'  %>
  </div>
</div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control'  %>
  </div>
  <div class="row">
    <div class="col-md-12 form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <!--
    <div class="col-md-6 form-group">
      <%= f.label :confirm_password %>
      <%= f.password_field :confirm_password, class: 'form-control' %>
    </div>
    -->
  </div>
  <div class="row">
    <div class="col-md-6 form-group">
      <%= f.label :phone %>
      <%= f.text_field :phone, class: 'form-control'  %>
    </div>
  </div>
  <div class="form-group">
      <%= f.label :residence %>
      <%= f.text_field :residence, class: 'form-control'  %>
  </div>
  <div>
      <%= f.submit :guardar, class: 'btn btn-primary' %>
  </div>
<% end %>