<div id="EditClient" class="animated fadeIn">

  <h1 class="title">Editar Cliente</h1>

  <%= link_to registration_clients_path do %>
    <%= fa_icon "chevron-left" %>
    <span>Regresar</span>
  <%- end %>

  <div class="col-md-8">
	<%= render 'form', form_model: @client, form_url: registration_client_path(@client.id), form_method: :patch %>
  </div>
</div>
