<div class="animated fadeIn">
  
  <h1 class="title">Listado Clientes</h1>

  <%= link_to admin_home_path do %>
    <%= fa_icon "chevron-left" %>
    <span>Regresar</span>
  <%- end %>
  <%= link_to new_registration_client_path do %>
    <%= fa_icon "user-plus" %>
    <span>Nuevo Cliente</span>
  <%- end %>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Apellidos</th>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Residencia</th>
        <th scope="col">Cliente desde</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <th scope="row"><%= client.last_name %></th>
          <td><%= client.name %></td>
          <td><%= client.email %></td>
          <td><%= client.phone %></td>
          <td><%= client.residence %></td>
          <td><%= client.created_at.to_date %></td>
          <td>
              <%= link_to edit_registration_client_path(client.id) do %>
                <%= fa_icon "edit 2x" %>
              <%- end %>
              <%= link_to registration_client_path(client.id), method: :delete, data: { confirm: 'Está seguro que desea borrar este elemento?' } do %>
                <%= fa_icon "trash 2x" %>
              <%- end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
