<div class="animated fadeIn">
    
  <h1 class="title">Listado Paquetes</h1>

  <%= link_to admin_home_path do %>
    <%= fa_icon "chevron-left" %>
    <span>Regresar</span>
  <%- end %>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Cliente</th>
        <th scope="col">Destino</th>
        <th scope="col">Dimensiones</th>
        <th scope="col">Peso</th>
        <th scope="col">Estatus</th>
      </tr>
    </thead>
    <tbody>
      <% @packs.each do |pack| %>
        <tr>
          <th scope="row"><%= pack.client_id %></th>
          <td><%= pack.address_state %></td>
          <td><%= "#{pack.size_x}, #{pack.size_y}, #{pack.size_z}"  %></td>
          <td><%= pack.weight %></td>
          <td><%= pack.status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
