<div id="NewClient" class="animated fadeIn">

  <h1 class="title">Nuevo Cliente</h1>

  <%= link_to registration_clients_path do %>
    <%= fa_icon "chevron-left" %>
    <span>Regresar</span>
  <%- end %>

  <div class="col-md-8">
	<%= render 'form', form_model: :client, form_url: registration_clients_url, form_method: :post %>
  </div>
</div>
