<div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>
</div>
<div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
</div>
<div class="form-group">
    <%= f.label :role %>
    <%= f.select(:role, User.roles.pluck(0), {}, { class: 'form-control' }) %>
</div>
<div class="form-group">
    <%= f.label :employee_id %>
    <%= f.select(:employee_id, @employees, {}, { class: 'form-control' }) %>
</div>
<div>
    <%= f.submit :guardar, class: 'btn btn-primary' %>
</div>