<div id="EditUser" class="animated fadeIn">

  <h1 class="title">Editar Usuario</h1>

  <%= link_to registrations_path do %>
    <%= fa_icon "chevron-left" %>
    <span>Regresar</span>
  <%- end %>

  <div class="col-md-6">
    <%= form_for(:user, url: registration_path(@user.id), method: :patch) do |f| %>
      <%= render 'form', f: f %>
    <% end %>
  </div>
</div>
