<div class="animated fadeIn">
    
  <h1 class="title">Listado Usuarios</h1>

  <%= link_to admin_home_path do %>
    <%= fa_icon "chevron-left" %>
    <span>Regresar</span>
  <%- end %>
  <%= link_to new_registration_path do %>
    <%= fa_icon "user-plus" %>
    <span>Nuevo Usuario</span>
  <%- end %>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Rol</th>
        <th scope="col">Id Empleado</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <th scope="row"><%= user.email %></th>
          <td><%= user.role %></td>
          <td><%= user.employee_id %></td>
          <td>
              <%= link_to edit_registration_path(user.id) do %>
                <%= fa_icon "edit 2x" %>
              <%- end %>
              <%= link_to registration_path(user.id), method: :delete, data: { confirm: 'Está seguro que desea borrar este elemento?' } do %>
                <%= fa_icon "trash 2x" %>
              <%- end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
