<div id="NewUser" class="animated fadeIn">

  <h1 class="title">Crear Usuario</h1>

  <%= link_to registrations_path do %>
    <%= fa_icon "chevron-left" %>
    <span>Regresar</span>
  <%- end %>

  <div class="col-md-6">
    <%= form_for(:user, url: registrations_path, method: :post) do |f| %>
      <%= render 'form', f: f %>
    <% end %>
  </div>
</div>
