<div class="card text-white bg-success mt-5">
  <div class="card-header">Mi cuenta</div>
  <div class="card-body">
    <h4 class="card-title">Correo: <%= current_user.email %></h4>
    <p class="card-text">Rol: <%= current_user.role.titleize %></p>
  </div>
</div>

<%= button_to 'Cambiar contraseña', '', method: :get, class: 'btn btn-success mt-3' %>