<%= form_for(form_model, url: form_url, method: form_method) do |f| %>
  <div class="row">
    <div class="col-md-12 form-group">
      <%= f.label :emisor %>
      <%= f.text_field :emisor, class: 'form-control'  %>
    </div>
    <div class="col-md-12 form-group">
      <%= f.label :destino %>
      <%= f.text_field :destino, class: 'form-control' %>
    </div>
    <div class="col-md-12 form-group">
      <%= f.label :distancia %>
      <%= f.number_field :distancia, class: 'form-control' %>
    </div>
  </div>
  <div>
      <%= f.submit :guardar, class: 'btn btn-primary' %>
  </div>
<% end %>