<div class="animated fadeIn">
  
  <h1 class="title">Estado de Rutas</h1>

  <%= link_to admin_home_path do %>
    <%= fa_icon "chevron-left" %>
    <span>Regresar</span>
  <%- end %>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Vehiculo</th>
        <th scope="col">Folios Paquetes</th>
        <th scope="col">Ruta</th>
        <th scope="col">Estatus</th>
      </tr>
    </thead>
    <tbody>
      <% @trips.each do |trip| %>
        <tr>
          <td><%= "#{Vehiculo.find(trip.vehiculo_id).marca}, #{Vehiculo.find(trip.vehiculo_id).modelo}" %></td>
          <td><%= trip.pack_id %></td>
          <td><%= "#{ Rutum.find(trip.ruta_id).emisor } - #{ Rutum.find(trip.ruta_id).destino }" %></td>
          <td><%= trip.status.titleize %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
