<div class="animated fadeIn">
  
  <h1 class="title">Listado Rutas</h1>

  <%= link_to admin_home_path do %>
    <%= fa_icon "chevron-left" %>
    <span>Regresar</span>
  <%- end %>
  <%= link_to new_ruta_path do %>
    <%= fa_icon "user-plus" %>
    <span>Nueva Ruta</span>
  <%- end %>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Emisor</th>
        <th scope="col">Receptor</th>
        <th scope="col">Distancia</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <% @rutas.each do |ruta| %>
        <tr>
          <td><%= ruta.emisor %></td>
          <td><%= ruta.destino %></td>
          <td><%= ruta.distancia %></td>
          <td>
            <%= link_to ruta_path(ruta.id), method: :delete, data: { confirm: 'Está seguro que desea borrar este elemento?' } do %>
              <%= fa_icon "trash 2x" %>
            <%- end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
