<div id="NewRuta" class="animated fadeIn">

  <h1 class="title">Nueva Ruta</h1>

  <%= link_to rutas_path do %>
    <%= fa_icon "chevron-left" %>
    <span>Regresar</span>
  <%- end %>

  <div class="col-md-8">
    <%= render 'form', form_model: :ruta, form_url: rutas_url, form_method: :post %>
  </div>
</div>
