<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card text-white bg-primary mb-3" style="">
        <div class="card-header">
          <h1>Nuevo viaje</h1>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="d-flex justify-content-center">
                <div class="col-md-12">
                  <div class="card text-white bg-primary mt-3">
                    <div class="card-header">Seleccionar Paquetes</div>
                    <div class="card-body">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Descripción</th>
                            <th scope="col">Dimensiones</th>
                            <th scope="col">Peso</th>
                            <th scope="col">Destinatario</th>
                            <th scope="col">Destino</th>
                            <th scope="col">Select</th>
                          </tr>
                        </thead>
                        <tbody id="table-rows">
                          <!-- Aqui se va a estar agregando de una en una -->
                          <% @paquetes.each do |pack| %>
                            <tr>
                              <td><%= pack.description %></td>
                              <td><%= "[#{pack.size_x} cm, #{pack.size_y} cm, #{pack.size_z} cm]" %></td>
                              <td><%= pack.weight %></td>
                              <td><%= pack.addressee %></td>
                              <td><%= "#{pack.address_street}, #{pack.address_city}, #{pack.address_pc}, #{pack.address_state}"  %></td>
                              <td><input type="checkbox" id="pack_row_<%= pack.id %>" /></td>
                            </tr>
                          <%- end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <%= button_to 'Siguiente', confirm_packs_path, method: :post, class: 'btn btn-success float-right', id: 'confirmar_packs' %>
    <script type="text/javascript">
      var confirm_packs = "<%= confirm_packs_path %>"
    </script>
  </div>
</div>