<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card text-white bg-primary mb-3" style="">
        <div class="card-header">
          <h1>Nuevo viaje</h1>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="d-flex justify-content-center">
                <div class="col-md-12">
                  <div class="card text-white bg-primary mt-3">
                    <div class="card-header">Seleccionar Ruta</div>
                    <div class="card-body">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Emisor</th>
                            <th scope="col">Destino</th>
                            <th scope="col">Select</th>
                          </tr>
                        </thead>
                        <tbody id="table-rows">
                          <!-- Aqui se va a estar agregando de una en una -->
                          <% @rutas.each do |r| %>
                            <tr>
                              <td><%= r.emisor %></td>
                              <td><%= r.destino %></td>
                              <td><input type="checkbox" id="ruta_row_<%= r.id %>" /></td>
                            </tr>
                          <%- end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <%= button_to 'Finalizar', confirmar_rutas_path, method: :post, class: 'btn btn-success float-right', id: 'confirmar_rutas' %>
    <script type="text/javascript">
      var confirmar_rutas = "<%= confirmar_rutas_path %>"
    </script>
  </div>
</div>