<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card text-white bg-primary mb-3" style="">
        <div class="card-header">
          <h1>Nuevo viaje</h1>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="d-flex justify-content-center">
                <div class="col-md-12">
                  <div class="card text-white bg-primary mt-3">
                    <div class="card-header">Seleccionar Vehiculo</div>
                    <div class="card-body">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Marca</th>
                            <th scope="col">Modelo</th>
                            <th scope="col">Max Volumen</th>
                            <th scope="col">Max Peso</th>
                            <th scope="col">Seleccionar</th>
                          </tr>
                        </thead>
                        <tbody>
                          <%- Vehiculo.all.each do |v| %>
                            <tr>
                              <td><%= v.marca %></td>
                              <td><%= v.modelo %></td>
                              <td><%= v.max_volumen %></td>
                              <td><%= v.max_peso %></td>
                              <td><input type="checkbox" id="pack_row_<%= v.id %>" /></td>
                            </tr>
                          <%- end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <%= button_to 'Siguiente', confirm_vehiculo_path, method: :post, class: 'btn btn-success float-right', id: 'confirm_vehiculo' %>
    <script type="text/javascript">
      var confirm_vehiculo = "<%= confirm_vehiculo_path %>"
    </script>
  </div>
</div>