<div class="animated fadeIn">
    
  <h1 class="title">Listado Paquetes</h1>

  <%= link_to admin_home_path do %>
    <%= fa_icon "chevron-left" %>
    <span>Regresar</span>
  <%- end %>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Cliente</th>
        <th scope="col">Destino</th>
        <th scope="col">Dimensiones</th>
        <th scope="col">Peso</th>
        <th scope="col">Estatus</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <% @packs.each do |pack| %>
        <tr>
          <th scope="row"><%= pack.client_id %></th>
          <td><%= pack.address_state %></td>
          <td><%= "#{pack.size_x}, #{pack.size_y}, #{pack.size_z}"  %></td>
          <td><%= pack.weight %></td>
          <td><%= pack.status %></td>
          <td>
              <%= link_to edit_pack_path(pack.id) do %>
                <%= fa_icon "edit 2x" %>
              <%- end %>
              <%= link_to pack_path(pack.id), method: :delete, data: { confirm: 'Está seguro que desea borrar este elemento?' } do %>
                <%= fa_icon "trash 2x" %>
              <%- end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
