<button type="button" class="btn btn-success" data-toggle="modal" data-target="#paquete" >Nuevo Paquete</button>

<div class="card text-white bg-primary mt-3"  id="lista_paquetes">
  <div class="card-header">Paquetes registrados</div>
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Descripción</th>
          <th scope="col">Dimensiones</th>
          <th scope="col">Peso</th>
          <th scope="col">Destinatario</th>
          <th scope="col">Destino</th>
        </tr>
      </thead>
      <tbody id="table-rows">
        <!-- Aqui se va a estar agregando de una en una -->
      </tbody>
    </table>
  </div>
</div>
