<button type="button" class="btn btn-success" data-toggle="modal" data-target="#cliente" >Seleccionar Cliente</button>

<div class="card text-white bg-primary mt-3">
  <div class="card-header">Cliente</div>
  <div class="card-body">
    <h4 class="card-title">Nombre: </h4>
    <p class="card-text" id="card_nombre_cliente" ></p>
    <h4 class="card-title">Residencia: </h4>
    <p class="card-text" id="card_residencia_cliente" ></p>
    <h4 class="card-title">Folio: </h4>
    <p class="card-text" id="card_folio_cliente" ></p>
  </div>
</div>
