<div class="modal" id="cliente">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Seleccionar cliente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for(:client) do |f| %>
          <div class="col-md-12 form-group">
            <%= f.label :correo %>
            <%= f.select(:email, Client.all.pluck(:email, :id), {include_blank: true}, {id: 'select-beast' }) %>
          </div>
        <%- end %>
        <h5 class="card-title">Nombre: </h5>
        <p class="card-text" id="nombre_cliente"></p>
        <h5 class="card-title">Residencia: </h5>
        <p class="card-text" id="residencia_cliente"></p>
        <h5 class="card-title">Telefono: </h5>
        <p class="card-text" id="telefono_cliente"></p>
        <h5 class="card-title">Folio: </h5>
        <p class="card-text" id="folio_cliente"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="button_select">Seleccionar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="form_client">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Seleccionar cliente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for(:client, url: client_modal_create_url, method: :post, html: {id: 'new_client_form'}) do |f| %>
        <div class="row">
          <div class="col-md-6 form-group">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, class: 'form-control'  %>
          </div>
          <div class="col-md-6 form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control'  %>
          </div>
        </div>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.text_field :email, class: 'form-control'  %>
          </div>
          <div class="row">
            <div class="col-md-12 form-group">
              <%= f.label :password %>
              <%= f.password_field :password, class: 'form-control' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 form-group">
              <%= f.label :phone %>
              <%= f.text_field :phone, class: 'form-control'  %>
            </div>
          </div>
          <div class="form-group">
              <%= f.label :residence %>
              <%= f.text_field :residence, class: 'form-control'  %>
          </div>
          <div>
              <%= f.submit :guardar, class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>