<div class="modal" id="paquete">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Registrar paquete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for(:pack, html: { id: 'new_pack_form' }) do |f| %>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12 form-group">
              <%= f.label :addressee %>
              <%= f.text_field :addressee, class: 'form-control'  %>
            </div>
            <div class="col-md-12 form-group">
              <%= f.label :address_street %>
              <%= f.text_field :address_street, class: 'form-control'  %>
            </div>
            <div class="col-md-8 form-group">
              <%= f.label :address_city %>
              <%= f.text_field :address_city, class: 'form-control'  %>
            </div>
            <div class="col-md-4 form-group">
              <%= f.label :address_pc %>
              <%= f.text_field :address_pc, class: 'form-control'  %>
            </div>
            <div class="col-md-12 form-group">
              <%= f.label :address_state %>
              <%= f.text_field :address_state, class: 'form-control' %>
            </div>
            <div class="col-md-12 form-group">
              <%= f.label :description %>
              <%= f.text_field :description, class: 'form-control' %>
            </div>
            <div class="col-md-3 form-group">
              <%= f.label :size_x %>
              <%= f.number_field :size_x, class: 'form-control' %>
            </div>
            <div class="col-md-3 form-group">
              <%= f.label :size_y %>
              <%= f.number_field :size_y, class: 'form-control' %>
            </div>
            <div class="col-md-3 form-group">
              <%= f.label :size_z %>
              <%= f.number_field :size_z, class: 'form-control' %>
            </div>
            <div class="col-md-3 form-group">
              <%= f.label :weight %>
              <%= f.number_field :weight, class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary disabled" id="guardar_paquete">Guardar</button>
        </div>
      <% end %>
    </div>
  </div>
</div>