<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card text-white bg-primary mb-3" style="">
        <div class="card-header">
          <h1>Recepción</h1>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <div class="d-flex justify-content-center">
                <div class="col-md-12">
                  <%= render 'info_client' %>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="d-flex justify-content-center">
                <div class="col-md-12">
                  <%= render 'info_pack' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <button type="button" class="btn btn-success float-right" id="save_checkout" action="<%= save_checkout_path %>" >Guardar</button>
    </div>
  </div>
</div>

<%= render 'modal_register_client' %>
<%= render 'modal_register_pack' %>

