<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card text-white bg-primary mb-3" style="">
        <div class="card-header">
          <h1>Confirmación de Pago</h1>
        </div>
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Descripción</th>
                <th scope="col">Dimensiones</th>
                <th scope="col">Peso</th>
                <th scope="col">Destinatario</th>
                <th scope="col">Destino</th>
                <th scope="col">Precio</th>
              </tr>
            </thead>
            <tbody id="table-rows">
              <!-- Aqui se va a estar agregando de una en una -->
              <% @last_ticket.each do |pack| %>
                <tr>
                  <td><%= pack.description %></td>
                  <td><%= "[#{pack.size_x} cm, #{pack.size_y} cm, #{pack.size_z} cm]" %></td>
                  <td><%= pack.weight %></td>
                  <td><%= pack.addressee %></td>
                  <td><%= "#{pack.address_street}, #{pack.address_city}, #{pack.address_pc}, #{pack.address_state}"  %></td>
                  <td><%= pack.weight * 345.2 %></td>
                </tr>
              <%- end %>
            </tbody>
            <tfoot>
              <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">Precio</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= button_to 'Finalizar', admin_home_path, class: 'btn btn-success float-right', method: :get %>
        </div>
      </div>
    </div>
  </div>
</div>