<div class="animated fadeIn">
  
  <h1 class="title">Listado Contactos</h1>

  <%= link_to admin_home_path do %>
    <%= fa_icon "chevron-left" %>
    <span>Regresar</span>
  <%- end %>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Correo</th>
        <th scope="col">Comentario</th>
      </tr>
    </thead>
    <tbody>
      <% @contacts.each do |contact| %>
        <tr>
          <th scope="row"><%= contact.name %></th>
          <td><%= contact.email %></td>
          <td><%= contact.comment %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
