
<%- if alert %>
  <div class="alert alert-dismissible alert-danger animated shake">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Mensaje: </strong>
    <%- if alert.is_a?(String) %>
      <p class="alert"><%= alert %></p>
    <%- else %>
      <p class="alert">Existen <%= "#{pluralize(alert.count, 'error')}" %>
        <ul>
          <%- alert.each do |key, value| %>
            <li><%= "#{key.titleize}, #{value[0]}" %></li>
          <%- end %>
        </ul>
      </p>
    <%- end %>
  </div>
<%- end %>

<%- if notice %>
  <div class="alert alert-dismissible alert-info animated fadeIn">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Mensaje: </strong>
    <p class="notice"><%= notice %></p>
  </div>
<%- end %>
