<%- if current_user.present? %>
  <li class="nav-item">
    <%= link_to "#{current_user.email}", registration_path(current_user.id), class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
  </li>
<%- elsif current_client.present? %>
  <li class="nav-item">
    <%= link_to "#{current_client.email}", registration_client_path(current_client.id), class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Log out', destroy_client_session_path, method: :delete, class: 'nav-link' %>
  </li>
<%- else %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Login
    <span class="caret"></span></a>
    <ul class="dropdown-menu dropdown-menu-right">
      <li><%= link_to 'Clientes', new_client_session_path, class: 'dropdown-item' %></li>
      <li><%= link_to 'Empleados', new_user_session_path, class: 'dropdown-item' %></li>
    </ul>
  </li>
<%- end %>