<%- if current_user.present? %>
  <%- if current_user.root? || current_user.cashier? %>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Paquetes
      <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><%= link_to 'Clientes', registration_clients_path, class: 'dropdown-item' %></li>
        <li><%= link_to 'Paquetes', packs_path, class: 'dropdown-item' %></li>
        <div class="dropdown-divider"></div>
        <li><%= link_to 'Recepción', checkouts_index_path, class: 'dropdown-item' %></li>
      </ul>
    </li>
  <%- end %>
  <%- if current_user.root? || current_user.operator? %>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Operación
      <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><%= link_to 'Vehiculos', vehiculos_path, class: 'dropdown-item' %></li>
        <li><%= link_to 'Rutas', rutas_path, class: 'dropdown-item' %></li>
        <div class="dropdown-divider"></div>
        <li><%= link_to 'Nuevo viaje', select_vehiculo_path, class: 'dropdown-item' %></li>
        <li><%= link_to 'Estado viajes', index_rutas_path, class: 'dropdown-item' %></li>
      </ul>
    </li>
  <%- end %>
  <%- if current_user.root? || current_user.admin? %>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Administración
      <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><%= link_to 'Usuarios', registrations_path, class: 'dropdown-item' %></li>
        <li><%= link_to 'Empleados', employees_path, class: 'dropdown-item' %></li>
        <li><%= link_to 'Comentarios', contact_index_path, class: 'dropdown-item' %></li>
        <div class="dropdown-divider"></div>
        <li><%= link_to 'Nomina', nomina_path, class: 'dropdown-item' %></li>
        <li><%= link_to 'Reportes', reportes_reportes_path, class: 'dropdown-item' %></li>
      </ul>
    </li>
  <%- end %>
<%- elsif current_client.present? %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Paquetes
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><%= link_to 'Mis paquetes', registration_clients_mis_paquetes_path, class: 'dropdown-item' %></li>
    </ul>
  </li>
<%- else %>
  <li class="nav-item">
    <%= link_to 'Quienes somos', quienes_somos_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Servicios', servicios_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Contacto', contacto_path, class: 'nav-link' %>
  </li>
<%- end %>