<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <%= link_to 'Paqueteria', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <%= render 'layouts/nav_items' %>
    </ul>
    <div class="my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <%= render 'layouts/nav_items_account' %>
      </ul>
    </div>
  </div>
</nav>